---
eleventyNavigation:
  key: Blog
  order: 4
pagination:
  data: blogposts
  size: 12
permalink: blog{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html
---

{% set relativePath = '../' if pagination.pageNumber == 0 else '../../' %}

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Blog | Cornish Tractor Club</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- metadata -->
  <meta name="theme-name" content="CTC" />
  <meta name="description" content="Welcome to the Cornish Tractor Club! - We are a tractor club based in Cornwall, organising events throughout the year for our members.">
  <meta name="theme-color" content="#04560e">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ relativePath }}plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="{{ relativePath }}plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{ relativePath }}plugins/themify-icons/themify-icons.css">
  <!-- venobox css -->
  <link rel="stylesheet" href="{{ relativePath }}plugins/venobox/venobox.css">
  <!-- card slider -->
  <link rel="stylesheet" href="{{ relativePath }}plugins/card-slider/css/style.css">
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/73cb94768c.js" crossorigin="anonymous"></script>

  <!-- Main Stylesheet -->
  <link href="{{ relativePath }}css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ relativePath }}images/cornish-tractor-club.png" type="image/x-icon">
  <link rel="icon" href="{{ relativePath }}images/cornish-tractor-club.png" type="image/x-icon">

</head>

<body>


  <header class="navigation fixed-top bg-transparent">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="{{ relativePath }}index.html"><img src="{{ relativePath }}images/cornish-tractor-club.png" alt="CTC-Logo" height="80"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ relativePath }}index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ relativePath }}index.html#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ relativePath }}events.html">Events</a>
          <li class="nav-item active">
            <a class="nav-link" href="{{ relativePath }}blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ relativePath }}gallery.html">Gallery</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forms</a>
            <div class="dropdown-menu dropdown-menu-external">
              <a class="dropdown-item" href="{{ rallyForm.upload_exhibitor }}">Rally - Exhibitor</a>
              <a class="dropdown-item" href="{{ upload_craft }}">Rally - Craft</a>
              <a class="dropdown-item" href="{{ rallyForm.upload_trade }}">Rally - Trade</a>
              <a class="dropdown-item" href="{{ rallyForm.upload_model }}">Rally - Model</a>
              <a class="dropdown-item" href="{{ rallyForm.upload_termsandconditions }}">Rally - T&Cs</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ relativePath }}contacts.html">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

<!-- page-title -->
<section class="page-title bg-cover background-overlay" data-background="{{ relativePath }}images/backgrounds/blog.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 text-white font-weight-bold font-primary">Blog</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->


<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      {# articles #}
      {% for item in pagination.items | reverse %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <article class="card">
            <div>
              <img class="img-fluid mb-3 rounded" src="https://panel.cornishtractorclub.org{{ item.cover_image_URL }}" alt="Article Image - Path: {{ item.cover_image_URL }}" />
              <a class="h4 card-title my-3 text-dark hover-text-underline" href="/blog/{{ item.slug }}">{{ item.title }}</a>
              <h5 class="font-weight-normal">{{ item.publishedAt | readableDate }}</h5>
              <a href="/blog/{{ item.slug }}" class="btn btn-transparent">Read more</a>
              <br>
            </div>
          </article>
        </div>
      {% else %}
        <div class="col-12 text-center">
          <h2 class="font-weight-bold">No articles found.</h2>
        </div>
      {% endfor %}
      {# /articles #}
    </div>
    {# pagination #}
    {% if pagination.hrefs | length > 0 %}
      <ul class="pagination justify-content-center mt-5">
        {% if pagination.previousPageHref %}
          <li class="page-item"><a class="page-link font-weight-bold hover-text-underline text-center text-light-green" href="{{ pagination.previousPageHref }}">Previous Page</a></li>
        {% endif %}
        {% if pagination.nextPageHref %}
          <li class="page-item"><a class="page-link font-weight-bold hover-text-underline text-center text-light-green" href="{{ pagination.nextPageHref }}">Next Page</a></li>
        {% endif %}
      </ul>
    {% endif %}
    {# /pagination #}
  </div>
</section>

<!-- /blog -->

<!-- footer -->
<footer class="bg-secondary position-relative">
  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3 col-6">
          <h4 class="text-white mb-5">Quick Links</h4>
          <ul class="list-unstyled">
            <li><a href="{{ relativePath }}index.html" class="text-light d-block mb-3">Home</a></li>
            <li><a href="{{ relativePath }}#about" class="text-light d-block mb-3">About</a></li>
            <li><a href="{{ relativePath }}events.html" class="text-light d-block mb-3">Events</a></li>
            <li><a href="{{ relativePath }}contacts.html" class="text-light d-block mb-3">Contacts</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4 class="text-white mb-5">Other</h4>
          <ul class="list-unstyled">
            <li><a href="{{ relativePath }}terms.html" class="text-light d-block mb-3">Terms and Conditions</a></li>
            <li><a href="{{ relativePath }}privacy.html" class="text-light d-block mb-3">Privacy Policy</a></li>
            <li><a href="{{ relativePath }}faqs.html" class="text-light d-block mb-3">FAQs</a></li>
          </ul>
        </div>
        <div class="col-md-6 facebook-widget">
          <div class="facebook-widget-border">
            <div class="fb-page" data-href="https://www.facebook.com/officialcornishtractorclub" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/officialcornishtractorclub" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/officialcornishtractorclub">Cornish Tractor Club</a></blockquote></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
          <p class="text-light mb-0">Copyright &copy; Cornish Tractor Club <span id="currentYear"></span></a>
          </p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline text-md-right text-center">
            <li class="list-inline-item"><a class="d-block p-3 text-white" href="https://www.facebook.com/officialcornishtractorclub" target="_blank" rel="noopener noreferrer"><i class="ti-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="{{ relativePath }}plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{ relativePath }}plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="{{ relativePath }}plugins/slick/slick.min.js"></script>
<!-- venobox -->
<script src="{{ relativePath }}plugins/venobox/venobox.min.js"></script>
<!-- shuffle -->
<script src="{{ relativePath }}plugins/shuffle/shuffle.min.js"></script>
<!-- apear js -->
<script src="{{ relativePath }}plugins/counto/apear.js"></script>
<!-- counter -->
<script src="{{ relativePath }}plugins/counto/counTo.js"></script>
<!-- card slider -->
<script src="{{ relativePath }}plugins/card-slider/js/card-slider-min.js"></script>
<!-- google map -->
<script src="{{ relativePath }}plugins/google-map/gmap.js"></script>
<!-- facebook page -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v16.0&appId=1486495898423162&autoLogAppEvents=1" nonce="VbdW31Vb"></script>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1609afda063e4bc18473fdce079932b5"}'></script>

<!-- Main Script -->
<script src="{{ relativePath }}js/script.js"></script>

</body>
</html>
